*.plist
*~
.*.swp
.DS_Store
.svnignore
/*.code-workspace
/*.kdev4
/.idea
/.mailmap
/.vscode
/3rdparty/wigner/wigxjpf/gen/
/build*/
/controlfiles/**/*.rep
heaptrack.*.gz
3rdparty/wigner/fastwigxj/gen/
3rdparty/wigner/fastwigxj/obj/
cmake-build-debug
