git:
  depth: 3

language: cpp

dist: xenial

matrix:
  include:
    - name: Build user guide PDFs
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-9
            - texlive
      env:
        - CC=gcc-9
        - CXX=g++-9
        - WITH_FORTRAN=0
        - TARGETDIRS="doc/uguide"
        - NOCHECK=1
    - name: LLVM 8 w/o Fortran
      dist: xenial
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-xenial-8
          packages:
            - clang-8
      env:
        - CC=clang-8
        - CXX=clang++-8
        - WITH_FORTRAN=0
        - TARGETDIRS="3rdparty src"
    - name: GCC 7 w/o Fortran
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - CC=gcc-7
        - CXX=g++-7
        - WITH_FORTRAN=0
        - TARGETDIRS="3rdparty src"
    - name: GCC 8 w/o Fortran
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
      env:
        - CC=gcc-8
        - CXX=g++-8
        - WITH_FORTRAN=0
        - TARGETDIRS="3rdparty src"
    - name: GCC 9 w/ Fortran
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-9
            - gfortran-9
      env:
        - CC=gcc-9
        - CXX=g++-9
        - FC=gfortran-9
        - WITH_FORTRAN=1
        - TARGETDIRS="3rdparty src"

before_install:
  - sudo apt-get install -y zlib1g-dev libblas-dev liblapack-dev libfftw3-dev

script:
  - mkdir -p build
  - cd build
  - cmake -DENABLE_FORTRAN=${WITH_FORTRAN} -DTEST_JOBS=2 ..
  - for TARGETDIR in ${TARGETDIRS}; do make -j2 -C ${TARGETDIR}; done
  - if [[ -z ${NOCHECK} ]]; then make check; fi

