@media screen and (max-width: 1000px) {
    .wy-body-for-nav {
        background-color: rgb(2, 113, 187);
    }

    .wy-nav-top {
        display:block
    }

    .wy-nav-side {
        left:-300px
    }

    .wy-nav-side.shift {
        width: 85%;
        left:0
    }

    .wy-menu.wy-menu-vertical, .wy-side-nav-search, .wy-side-scroll {
        width:auto
    }

    .wy-nav-content-wrap {
        margin-left:0
    }

    .wy-nav-content-wrap .wy-nav-content {
        padding:1.618em
    }

    .wy-nav-content-wrap.shift {
        position: fixed;
        min-width: 100%;
        left: 85%;
        top: 0;
        height: 100%;
        overflow:hidden
    }
}

.rst-content code.docutils.literal:not(.xref) {
    color: rgb(64, 64, 64);
    font-weight: 700;
}

.rst-content code.docutils.literal.xref {
    color: rgb(2, 113, 187);
}

.highlight {
  background-color: rgb(226, 234, 248);
}

.wy-nav-top {
    background-color: rgb(2, 113, 187);
}

.wy-nav-content {
    max-width: none;
}
.wy-nav-content-wrap {
    background-color: rgb(252, 252, 252);
}
.wy-nav-content a:link {
    color: rgb(2, 113, 187);
}
.wy-nav-content a:visited {
    color: rgb(2, 113, 187);
}
.wy-side-nav-search .wy-dropdown>a img.logo, .wy-side-nav-search>a img.logo {
  width: 100px;
  height: 100px;
}
.wy-side-nav-search {
    background-color: rgb(2, 113, 187);
}
.wy-side-scroll, .wy-nav-side {
    color: rgb(252, 252, 252);
    background-color: rgb(2, 113, 187);
}
.wy-side-scroll a.reference.internal {
    color: rgb(252, 252, 252);
}
.wy-side-scroll a:hover.reference.internal {
    color: rgb(64, 64, 64);
}
.wy-menu-vertical li.current a {
    border-right-style: none;
}
.wy-menu-vertical li.toctree-l1.current>a {
    border-top-style: none;
    border-bottom-style: none;
}
.wy-menu-vertical a:hover {
    color: rgb(64,64,64);
    background-color: rgb(252,252,252);
}
.wy-menu-vertical li.current a:hover {
    background-color: rgb(252,252,252);
}
.wy-menu-vertical li.toctree-l2.current>a, .wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background-color: rgb(2, 113, 187);
}
.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a, .wy-menu-vertical li.toctree-l5 a, .wy-menu-vertical li.toctree-l6 a, .wy-menu-vertical li.toctree-l7 a, .wy-menu-vertical li.toctree-l8 a, .wy-menu-vertical li.toctree-l9 a, .wy-menu-vertical li.toctree-l10 a {
    background-color: rgb(2, 113, 187);
}
.wy-menu-vertical li.toctree-l1.current>a, .wy-menu-vertical li.toctree-l2.current>a, .wy-menu-vertical li.toctree-l2.current li.toctree-l3.current>a, .wy-menu-vertical li.toctree-l3.current li.toctree-l4.current>a, .wy-menu-vertical li.toctree-l4.current li.toctree-l5.current>a, .wy-menu-vertical li.toctree-l5.current li.toctree-l6.current>a, .wy-menu-verticalli.toctree-l6.current li.toctree-l7.current>a, .wy-menu-vertical li.toctree-l7.current li.toctree-l8.current>a, .wy-menu-vertical li.toctree-l8.current li.toctree-l9.current>a, .wy-menu-vertical li.toctree-l9.current li.toctree-l10.current>a {
    background-color: rgb(86, 156, 222);
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a, .wy-menu-vertical li.toctree-l3.current li.toctree-l4>a, .wy-menu-vertical li.toctree-l4.current li.toctree-l5>a, .wy-menu-vertical li.toctree-l5.current li.toctree-l6>a, .wy-menu-vertical li.toctree-l6.current li.toctree-l7>a, .wy-menu-vertical li.toctree-l7.current li.toctree-l8>a, .wy-menu-vertical li.toctree-l8.current li.toctree-l9>a, .wy-menu-vertical li.toctree-l9.current li.toctree-l10>a, .wy-menu-vertical li.toctree-l10.current li.toctree-l11>a {
    color: rgb(252,252,252);
    background-color: rgb(2, 113, 187);
}
.wy-menu-vertical li.toctree-l1.current>a:hover,.wy-menu-vertical li.toctree-l2.current>a:hover,.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a:hover, .wy-menu-vertical li.toctree-l3.current li.toctree-l4>a:hover, .wy-menu-vertical li.toctree-l4.current li.toctree-l5>a:hover, .wy-menu-vertical li.toctree-l5.current li.toctree-l6>a:hover, .wy-menu-vertical li.toctree-l6.current li.toctree-l7>a:hover, .wy-menu-vertical li.toctree-l7.current li.toctree-l8>a:hover, .wy-menu-vertical li.toctree-l8.current li.toctree-l9>a:hover, .wy-menu-vertical li.toctree-l9.current li.toctree-l10>a:hover, .wy-menu-vertical li.toctree-l10.current li.toctree-l11>a:hover {
    color: rgb(64, 64, 64);
    background-color: rgb(252, 252, 252);
}
.wy-menu-vertical li button.toctree-expand, .wy-menu-vertical li.current>a button.toctree-expand, .wy-menu-vertical li.on a button.toctree-expand {
    color: rgb(252, 252, 252);
}
.wy-menu-vertical a:hover button.toctree-expand {
    color: rgb(64, 64, 64);
}
.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a {
    background-color: rgb(2, 113, 187);
}
.wy-menu-vertical li.toctree-l2 a button.toctree-expand, .wy-menu-vertical li.toctree-l3 a button.toctree-expand, .wy-menu-vertical li.toctree-l4 a button.toctree-expand, .wy-menu-vertical li.toctree-l5 a button.toctree-expand, .wy-menu-vertical li.toctree-l6 a button.toctree-expand, .wy-menu-vertical li.toctree-l7 a button.toctree-expand, .wy-menu-vertical li.toctree-l8 a button.toctree-expand, .wy-menu-vertical li.toctree-l9 a button.toctree-expand, .wy-menu-vertical li.toctree-l10 a button.toctree-expand {
    color: rgb(252, 252, 252);
}
.wy-menu-vertical li.toctree-l2 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l3 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l4 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l5 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l6 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l7 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l8 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l9 a:hover button.toctree-expand, .wy-menu-vertical li.toctree-l10 a:hover button.toctree-expand {
    color: rgb(64, 64, 64);
}
