/* Style sheet for the ARTS documentation page. */

body {
	background-color: #ffffff;
	color: #000000;
	font-size: 10pt;
	font-family: Bitstream Vera Sans, Verdana, sans-serif;
}

a:link { color: #3465a4; text-decoration: none; }
a:visited { color: #729fcf; text-decoration: none; }
a:active { color: #ce5c00; text-decoration: underline;
           background-color: #eeeeec}
a:hover { color: #f57900; text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { color: #3665a1 } 

